<div class="login-container">
  
  <div class="form-section">
    <div class="login-card">
      
<app-logo></app-logo>
      <h2>Iniciar sesión</h2>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        
        <app-auth-input
          [parentForm]="loginForm"
          controlName="email"
          label="Correo electrónico"
          type="email"
          placeholder="nombre@ejemplo.com"
          icon="✉️">
        </app-auth-input>

        <app-auth-input
          [parentForm]="loginForm"
          controlName="password"
          label="Contraseña:"
          type="password"
          placeholder="••••••••"
          icon="🔒">
        </app-auth-input>

        <div class="form-options">
          <label class="checkbox-label">
            <input type="checkbox" formControlName="rememberMe" />
            <span class="custom-checkbox"></span>
            Recuérdame
          </label>
          <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
        </div>

        <button type="submit" class="btn-submit" [disabled]="loginForm.invalid">
          Iniciar Sesión
        </button>
      </form>

    </div>
  </div>

  <div class="image-section"></div>

</div>