.home-layout{
  min-height: 100dvh;
  width: 100%;
  background-color: #f8fafc;
  overflow-x: hidden;
  font-family: 'Segoe UI', Roboto, sans-serif;
}

.main-content {
  display: flex;
  text-align: center;
}