// Contenedor principal de pantalla completa
.registro-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background: linear-gradient(-45deg, #769174, #7e9480, #204632, #4e754f);
  overflow: hidden;
}

.main-content {
    width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

// Lado del Formulario
.form-section {
    flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5rem;
  padding: 0 2rem;
  background-color: #f9f9f9;
   border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
 
}

// Tarjeta del Registro (Bordes redondeados y sombra sutil)
.login-card {
  background: #ffffff;
  padding: 2rem 2.5rem;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 420px;
  text-align: center;
}

// Título "Iniciar Sesión"
h2 {
  color: #48916b;
  font-size: 2rem;
  font-weight: 900;
}

// Checkbox y enlace de recuperar contraseña
.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  margin-bottom: 2.5rem;

  // Estilo del checkbox
  .checkbox-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #333333;
    cursor: pointer;
    font-weight: 500;
  }

  // Estilo del enlace de recuperar contraseña
  .forgot-password {
    color: #278354;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Link "Registrarse" (Azul característico)
.btn-registrarse {
  background-color: None;
    color: #278354;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }

// Lado de la Imagen (Paneles solares en el tejado)
.image-section {
  flex: 1;
  // Puedes sustituir este link por la ruta local de tu imagen recortada
  background-image: url('https://losmejores.top/imagenes/los-6-mejores-panales-solares-para-casa.jpg');
  background-size: cover;
  background-position: center;
}

// Responsivo: Oculta la sección de imagen en pantallas pequeñas
@media (max-width: 850px) {
  .image-section {
    display: none;
  }
  .form-section {
    background-color: #ffffff;
  }
  .login-card {
    box-shadow: none;
    padding: 1.5rem;
  }
}